{% extends 'base.html.twig' %}

{% block title %}Welcome at Wild Circus!!!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <div class="container">

        <h1 class="my-5">Edit the profile of {{ performer.firstName ~ " " ~ performer.name }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.name) }}
        Actual picture <img src="{{ performer.picture }}" style="width:50%;">

        {{ form_row(form.picture) }}

        {{ form_row(form.biography) }}
        <div class="d-flex justify-content-center my-5">
        <button type="submit" class="btn btn-warning">Edit performer</button></div>
        {{ form_end(form) }}
    </div>
{% endblock %}