{% extends 'base.html.twig' %}

{% block title %}All the performers{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">All the performers <a class="btn btn-success" href="{{ path('performers_create') }}"><i class="fas fa-plus-circle"></i>Add a new performer</a></h1>
        <div class="row">
            {% for performer in performers %}
                <div class="card col-6 my-2">
                    <img class="card-img-top my-2" src="{{ performer.picture }}">
                    <div class="card-header">
                        {{ performer.firstName ~ ' ' ~ performer.name }}
                    </div>
                    <div class="card-body">
                        {{ performer.biography }} <br>

                        <a class="btn btn-warning" href="{{ path('performers_edit', {'id' : performer.id}) }}"><i class="fas fa-pen"></i> Edit </a>
                        <a class="btn btn-danger" href="{{ path('performers_delete', {'id' : performer.id}) }}"><i class="fas fa-trash"></i> Delete </a>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
