{% extends 'base.html.twig' %}

{% block title %}Welcome at Wild Circus!!!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <div class="container">

        <h1 class="my-5">Edit the performance {{ performance.title ~ " du " ~ performance.date | date('d/m/Y') }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        Actual picture <img src="{{ performance.picture }}" style="width:50%;">

        {{ form_row(form.picture) }}
        {{ form_row(form.performers) }}
        {{ form_row(form.description) }}

        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-warning">Edit performance</button></div>
        {{ form_end(form) }}
    </div>
{% endblock %}